.catalog-sub-header {
    padding: 0px 20px;
    position: fixed;
    width: calc(100vw - 300px);
}

.rounded-section {
    background: #FB6426;
    border-radius: 8px;
    padding: 3px 9px;
    font-size: 14px;
    margin-left: 10px;
}

.sort-by-container {
    margin-right: 10px;
    font-size: 13px;
}